@model WebApplication1.Models.Product

@{
    ViewData["Title"] = "Xóa Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa Sản Phẩm</h1>

<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            <b>Tên Sản Phẩm:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            <b>Mô Tả Ngắn:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class="col-sm-2">
            <b>Mô Tả Chi Tiết:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <b>Giá:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            <b>Giảm Giá:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            <b>Ảnh Đại Diện:</b>
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Thumb" alt="Ảnh Đại Diện" style="max-width: 200px;" />
        </dd>
            <b>Loại Sản Phẩm:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatName)
        </dd>
    </dl>

    <form id="deleteForm" asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Xóa</button> |
        <a asp-action="Index" class="btn btn-secondary">Quay Lại Danh Sách</a>
    </form>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xác Nhận Xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa sản phẩm này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger" form="deleteForm">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
