@using System.Globalization
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<WebApplication1.Models.Product>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-auto">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Tạo mới
            </a>
        </div>
        <div class="col-auto">
            <form asp-action="Index" method="get">
                <div class="input-group">
                    <select class="form-control" asp-items="@ViewBag.CatId" id="catId" name="CatID">
                        <option value="" selected disabled>Lọc theo danh mục</option>
                        <option value="All">All</option>
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-filter"></i> Lọc
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <form asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm" aria-label="Search" name="search">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped text-right">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Hình ảnh</th>
                    <th>Tên</th>
                    <th>Danh mục</th>
                    <th>Giá</th>
                    <th>Tồn kho</th>
                    <th>Trạng thái</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ProductId</td>
                        <td><img src="@item.Thumb" alt="@item.ProductName" style="width: 50px; height: 50px;" /></td>
                        <td>@item.ProductName</td>
                        <td>@item.Cat.CatName</td>
                        <td>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Price)</td>
                        <td>@item.UnitsInStock</td>
                        <td>
                            @if (@item.UnitsInStock.HasValue && @item.UnitsInStock.Value > 50)
                            {
                                <span class="badge badge-success">Còn hàng</span>
                            }
                            else if (@item.UnitsInStock.HasValue && @item.UnitsInStock.Value > 0)
                            {
                                <span class="badge badge-warning">Sắp hết hàng</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Hết hàng</span>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil"></i> Sửa
                            </a>
                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">
                                <i class="bi bi-info-circle"></i> Chi tiết
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> Xóa
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="javascript:void(0)" onclick="changePage(1)">First</a>
                </li>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="javascript:void(0)" onclick="changePage(@i)">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="javascript:void(0)" onclick="changePage(@Model.PageCount)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function changePage(pageNumber) {
        window.location.href = '?page=' + pageNumber;
    }
</script>
<style>
    /* Custom CSS for styling the input group */
    .input-group {
        display: flex;
        flex-wrap: nowrap;
    }

        .input-group .form-control {
            margin-right: 5px;
        }

        .input-group .input-group-append .btn {
            margin-left: 5px;
        }

    .table-responsive {
        margin-top: 20px;
    }

    thead.thead-dark th {
        background-color: #343a40;
        color: white;
    }

</style>
