@model IEnumerable<WebApplication1.Models.Role>

@{
    ViewData["Title"] = "Danh sách quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên quyền truy cập</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.RoleId)</td>
                            <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                            <td>
                                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.RoleId"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.RoleId"><i class="fas fa-info-circle"></i> Thông tin</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RoleId"><i class="fas fa-trash"></i> Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
